<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/CSS/404.css">
</head>
<body>
        <section class="page_404">
            505 server error
          </section>
    
    <%- include('../includes/head.ejs') %>