<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/CSS/home.css">
</head>
<body>
    
    <%- include('../includes/navigation.ejs') %>

    <section class="mighty-roar">
        <article>
            <div class="intro-homer">
                <h2 class="desc"> 
                <p>Hi, I'm Homer!, I'm so glad you're here!</p>
                <p>I'm Excited to take you on my journey!</p>
            </h2>
            </div>
            
            <div class="homer-Img">
                <img src="/images/homer.jpeg" class="w-100 h-100 img-fluid" alt="homer">
            </div>
        </article>
        <div class="fact">
            <h3>Fact about homer?</h3>
            <h3>Fact about homer?</h3>
        </div>
    </section>
    
    <%- include('../includes/end.ejs') %>