<%- include('../includes/head.ejs') %>
</head>
<body>
    
    <%- include('../includes/navigation.ejs') %>

    <section class="">
        this is the interactive audio page
    </section>
    
    <%- include('../includes/end.ejs') %>