<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/CSS/landingPage.css">
</head>
<body class="landingPage">
    <section class="welcome">
            <div class="intro">
                <div class="homer-name name"><h1>Homer</h1></div> 
                <div class="homer-name roar"> 
                  <span><h1>and his mighty Roar</h1></span>
                </div>  
            </div>

        <div class="homer">
            <div class="homer-logo">
                <a href="/home">
                    <img src="/images/homer.jpeg" class="w-100 h-100 img-fluid" alt="homer">
                </a> 
            </div>

            <div class="homerImg">
                <h2 class="enter">Click Homer To Enter</h2>
            </div>
        </div>
    </section>
    
    <%- include('../includes/end.ejs') %>