<%- include('../includes/head.ejs') %>
</head>
<body>
    
    <%- include('../includes/navigation.ejs') %>

    <section class="">
        this is th read the book page
    </section>
    
    <%- include('../includes/end.ejs') %>